.producerCONPage{
    background-color: rgb(61, 117, 61);
    height: 100vh;
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.producerCONHeader{
text-align: center;
color: white;
width: 100%;
}
.submit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.submit-button{
    background: linear-gradient(90deg, rgba(63,251,66,1) 15%, rgba(64,150,65,1) 72%);
    padding: 1em;
    width: 12em;
    border: 2px solid greenyellow;
    border-radius: 10px;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20%;
}
.submit-button-con{
    background: linear-gradient(90deg, rgba(63,251,66,1) 15%, rgba(64,150,65,1) 72%);
    padding: 1em;
    width: 12em;
    border: 2px solid greenyellow;
    border-radius: 10px;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20%;
}
.producerCONForm{
    display: flex;
    align-items: center;
}
.productName{
    color:white;
    text-align: center;
    margin-top: 1em;
}
.labels{
    color:white;
    margin-bottom: 1em;
    text-align: center;
}
.inputProducer{
    width: 100%;
   color: white;
   background-color: rgb(42, 37, 37);
   border-radius: 10px;
   outline:none;
   border: 0px;
}
.weight{
    color: white;
}
.producerMessage{
    color:white;
    margin-top: 0.5em;
    text-align: center;
}
.consumerMessage{
    color:white;
    margin-top: 0.5em;
    text-align: center;
}

.monitors{
    display: flex;
    justify-content: space-between;
}
.monitor{
    width: 32%;
}

.tableHeaders{
    color: white;
}
.submit-button:hover{
    opacity: 0.8;
}
.submit-button-con:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 1400px) {
    .producerCONPage{
        height: 120vh;
    }
    .consumerMonitors{
        display: block;
       
    }
    .monitors{
        display: block;
        
    }
    .monitor{
        width: 100%;
    }
    .consumerMonitor{
    width: 100%;
    }
  }
  @media only screen and (max-width: 800px) {
    .producerCONPage{
        height: 150vh;
    }
   
    .monitors{
        display: block;
        
    }
    .monitor{
        width: 100%;
    }
  
  }

@media only screen and (max-width: 750px) {
    .producerCONPage{
        height: 210vh;
        justify-content: space-between;
    }
  
    .form-con{
        margin-left: 23%;
    }
    .form-pro{
        margin-left: 23%;
    }
    .monitors{
        display: block;
        margin-left: 30%;
    }
    .monitor{
        width: 100%;
    }
 
    
  }

  @media only screen and (max-width: 600px) {
 
  
    .form-con{
        margin-left: 10%;
    }
    .form-pro{
        margin-left: 5%;
    }
    .monitors{
        margin-left: 20%;
    }
  
    
  }
  @media only screen and (max-width: 450px) {
    .producerCONPage{
        height: 300vh;
    }
  
    .form-con{
        margin-left: 10%;
    }
    .form-pro{
        margin-left: 5%;
    }
    .monitors{
        margin-left: 10%;
    }
    .submit-button-con{
      
        margin-left: 10%;
    }
    .submit-button{
        margin-left: 10%;
    }
  }


