.footer{
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.contactUs{
    width: 30%;
    color: white;
}
.hover:hover{
color:  rgb(61, 117, 61);
}
